{{- $post := in site.MainSections .Section -}}
{{- $engagement := partial "engagement.html" . -}}
{{- $navigation := "" -}}
{{- $tags := slice -}}
{{- if $post -}}
  {{- $navigation = partial "post-navigation.html" . -}}
  {{- $tags = .GetTerms "tags" -}}
{{- end -}}
{{- if or $tags $engagement $navigation -}}
  <footer class="article-end">
    {{- with $tags }}
      <div class="article-tags" role="group" aria-label="Tags"
        >{{ range . }}
          <a href="{{ .RelPermalink }}">#{{ partial "page-title.html" . }}</a>
        {{ end }}</div
      >
    {{ end -}}
    {{ $engagement }}
    {{ $navigation }}
  </footer>
{{- end -}}
