{{- $current := . -}}
{{- $posts := partialCached "posts.html" . -}}
{{- $newer := false -}}{{- $older := false -}}
{{- range $index, $page := $posts -}}
  {{- if eq $page.RelPermalink $current.RelPermalink -}}
    {{- if gt $index 0 }}{{ $newer = index $posts (sub $index 1) }}{{ end -}}
    {{- if lt (add $index 1) (len $posts) }}
      {{ $older = index $posts (add $index 1) }}
    {{ end -}}
  {{- end -}}
{{- end -}}
{{- if or $newer $older -}}
  <nav
    class="post-nav"
    id="post-navigation"
    aria-label="{{ T "adjacent_posts" }}"
  >
    {{ with $newer }}
      <a rel="prev" href="{{ .RelPermalink }}"
        ><small>{{ partial "navigation-label.html" "newer" }}</small
        ><span class="post-nav-title link-title">{{ .Title }}</span></a
      >
    {{ end }}
    {{ with $older }}
      <a rel="next" href="{{ .RelPermalink }}"
        ><small>{{ partial "navigation-label.html" "older" }}</small
        ><span class="post-nav-title link-title">{{ .Title }}</span></a
      >
    {{ end }}
  </nav>
{{- end -}}
