{{ define "main" }}
  <header class="page-heading"><h1>{{ .Title }}</h1>{{ .Content }}</header>
  {{ $years := dict }}
  {{ range partialCached "posts.html" . }}
    {{ $date := partial "local-time.html" .Date }}
    {{ $year := $date.Format "2006" }}
    {{ $month := $date.Format "01" }}
    {{ $yearGroup := index $years $year | default (dict "year" $year "months" dict) }}
    {{ $months := $yearGroup.months }}
    {{ $group := index $months $month | default (dict "number" $month "label" (time.Format (T "archives_month_format") $date) "pages" slice) }}
    {{ $months = merge $months (dict $month (dict "number" $month "label" $group.label "pages" ($group.pages | append .))) }}
    {{ $years = merge $years (dict $year (dict "year" $year "months" $months)) }}
  {{ end }}
  {{ with sort $years "year" "desc" }}
    <div class="archives">
      {{ range . }}
        <section class="archive-year"
          ><h2>{{ .year }}</h2>
          {{ range sort .months "number" "desc" }}
            <div class="archive-month"
              ><h3>{{ .label }}</h3
              ><ul>
                {{ range .pages }}
                  {{ $id := printf "archive-%s" (crypto.MD5 .RelPermalink) }}
                  <li
                    ><a href="{{ .RelPermalink }}" aria-labelledby="{{ $id }}"
                      ><span class="archive-title link-title" id="{{ $id }}"
                        >{{ .Title }}</span
                      >{{ partial "date.html" (partial "local-time.html" .Date) }}</a
                    ></li
                  >
                {{ end }}
              </ul></div
            >
          {{ end }}
        </section>
      {{ end }}
    </div>
  {{ else }}
    <p class="empty">{{ T "no_posts" }}</p>
  {{ end }}
{{ end }}
