{{- $options := dict "noClasses" false -}}
{{- if not (transform.CanHighlight .Type) -}}
  {{- $options = dict "type" "text" "noClasses" false -}}
{{- end -}}
{{- $result := transform.HighlightCodeBlock . $options -}}
{{- $filename := .Attributes.filename | default "" -}}
<div class="code-block">
  {{- /* Newlines keep the label a line of its own in plain-text summaries. */ -}}
  {{- with $filename }}
    <span class="code-label" lang="en">{{ . }}</span>
  {{ end -}}
  {{- $wrapped := $result.Wrapped | replaceRE `<table class="lntable">` `<table class="lntable"><tbody>` | replaceRE `</table>` `</tbody></table>` | replaceRE ` filename="[^"]*"` "" -}}
  {{- $pres := findRE `<pre\b[^>]*>` $wrapped -}}
  {{- range $index, $pre := $pres -}}
    {{- /* Chroma's last pre contains the code; preceding pres contain table line numbers. */ -}}
    {{- $replacement := $pre -}}
    {{- if eq $index (sub (len $pres) 1) -}}
      {{- $replacement = $pre | replaceRE `<pre\b` `<pre role="group" aria-label="Code, horizontally scrollable"` -}}
    {{- else -}}
      {{- $replacement = $pre | replaceRE ` tabindex="[^"]*"` "" | replaceRE `<pre\b` `<pre tabindex="-1"` -}}
    {{- end -}}
    {{- $wrapped = replace $wrapped $pre $replacement 1 -}}
  {{- end -}}
  {{- $wrapped | safeHTML -}}
</div>
