{{- /* RIFF chunks are padded to even lengths; a still WebP stores its image in VP8 or VP8L. */ -}}
{{- $bytes := .bytes -}}
{{- $offset := .offset -}}
{{- $lossless := true -}}
{{- if le (add $offset 8) (len $bytes) -}}
  {{- $kind := printf "%c%c%c%c" (index $bytes $offset) (index $bytes (add $offset 1)) (index $bytes (add $offset 2)) (index $bytes (add $offset 3)) -}}
  {{- if eq $kind "VP8 " -}}
    {{- $lossless = false -}}
  {{- else if ne $kind "VP8L" -}}
    {{- $size := add (int (index $bytes (add $offset 4))) (mul (int (index $bytes (add $offset 5))) 256) (mul (int (index $bytes (add $offset 6))) 65536) (mul (int (index $bytes (add $offset 7))) 16777216) -}}
    {{- $lossless = partial "media/webp-lossless.html" (dict "bytes" $bytes "offset" (add $offset 8 $size (mod $size 2))) -}}
  {{- end -}}
{{- end -}}
{{- return $lossless -}}
