{{- $id := .Get "id" -}}
{{- $ratio := .Get "ratio" -}}
{{- if not (findRE `^[a-fA-F0-9]{32}$` (printf "%v" $id)) }}
  {{ errorf "shsh: Speaker Deck requires a 32-digit hexadecimal id at %s" .Position }}
{{ end -}}
{{- if not (findRE `^[0-9]+(?:\.[0-9]+)?$` (printf "%v" $ratio)) }}
  {{ errorf "shsh: Speaker Deck requires a positive ratio at %s" .Position }}{{ $ratio = 1 }}
{{ end -}}
{{- if le (float $ratio) 0 }}
  {{ errorf "shsh: Speaker Deck ratio must be positive" }}
{{ end -}}
<div class="speaker-deck" style="--embed-ratio: {{ $ratio }}">
  <script
    async
    class="speakerdeck-embed"
    data-id="{{ $id }}"
    data-ratio="{{ $ratio }}"
    src="https://speakerdeck.com/assets/embed.js"
  ></script>
</div>
